.vscode/*
.history/
.cache/
.claude
**/.DS_Store

test
script

patch_android
patch_linux
kpimg
kpimg.enc
kptools-linux
kptools-android
kptools_android.h
kptools_linux.h
encrypt
kpimg_enc.h
Image
oImage